<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

  <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
</head>
<body>
  <h1 style="text-align: center;">Upcoming Examinations</h1>
  <br>
  <table class="data" border="1" style="width:100%;">
  </table>
  
  <script>
    // _testing();
    $.getJSON('/api/files' , function( data ) {
      if ('error' in data)
        return $('.data').text('no files');
      const file=data[4];
      let link=file.path;
      let td = '<td><a class="fileLink" href="/api/file'+file.path+'">'+file.path+'</a></td>'
      let td1 = '<td>Scheduled on: '+file.t+'</td>'
      let td2 = '<td><button style="width:100%;" onclick="window.location=`/api/file'+file.path+'`">Register for this paper</button></td>'
      let tr = '<tr>' + td + td1+ td2+'</tr>'
      $('.data').append(tr)
      
      //This is for all files
      // for (const file of data) {
      //   let link=file.path;
      //   let td = '<td><a class="fileLink" href="/api/file'+file.path+'">'+file.path+'</a></td>'
      //   let td1 = '<td>Scheduled on: '+file.t+'</td>'
      //   let td2 = '<td><button onclick="window.location=`/api/file'+file.path+'`">Register for this paper</button></td>'
      //   let tr = '<tr>' + td + td1+ td2+'</tr>'
      //   $('.data').append(tr)
      // }
    });
  </script>
  <!-- <script type="text/javascript">
    $(function(){
        window.location.href = $('.fileLink').attr('href');
    });
    </script> -->
</body>
</html>