<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crowd Quest</title>


    <link rel="stylesheet" href="public/css/downloadQuestion.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.3/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@truffle/contract@4.3.5/dist/truffle-contract.js"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="Web3.js"></script>

  </head>

  <body onload="App.init()">    
    <div class="Sidebar">
      <h4>Get Questions</h4>
      <ul class="Nav">
        <li>
          <i class="fas fa-calendar-alt"></i>
          <span>Date of Examination</span>
          <input
            class="mainselection date"
            type="date"
            value=""
            required
          />
        </li>
        <li>
          <i class="fas fa-server"></i>
          <span>Select Subject</span>
          <div class="mainselection">
            <select name="State" id="input7" class="subject" required>
              <option>Choose subject</option>
              <option value="Physics">Physics</option>
              <option value="Biology">Biology</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Mathematics">Mathematics</option>
            </select>
          </div>
          <br>
          <button data-toggle="modal" data-target="#exampleModalCenter" onclick="viewModal();"> Select Chapters </button>
        </li>
        <li>
          <i class="fas fa-question-circle"></i>
          <span>Number of Questions</span>
          <div class="mainselection">
            <input type="number" placeholder="Total questions.." class="questionCount" onchange="setWeightage(); return false;" min="10" required />
          </div>
        </li>
        <li>
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
          <span>Chapter Weightage</span>
          <div class="mainselection">
            <input type="number" placeholder="Enter here.." class="weightage" min="1" onchange="setWeightage(); return false;" required />
          </div>
        </li>
        <button
          type="submit"
          class="btn btn-outline-light"
          style="font-weight: 500"
          onclick="App.downloadQuestions();"
        >
          Generate Paper
        </button>
        <div id="liveView" class="camView">
          <button id="webcamButton">Enable Webcam</button>
          <video id="webcam" autoplay muted width="640" height="480"></video>
        </div>
        <br /><br /><br /><br /><br /><br /><br />
        <hr style="color: rgb(255, 255, 255)" />
        <li>
          <a href="teacherDashboard.html">
            <i class="fas fa-address-card"></i>
            <span>Back to Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
    <div id="Main" class="main">
      <!-- Modal -->
      <!-- Button trigger modal -->
      <i
        style="color: rgb(79, 145, 245); font-size: x-large"
        aria-hidden="true"
      ></i>
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                <!-- Select topics to be excluded : (Biology) -->
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- -------------- checkboxes-------------------------------- -->
              
              <!-- <div class="pretty p-icon p-smooth">
                <input class="excluded-topics" value="0" type="checkbox" />
                <div class="state p-danger-o">
                  <i class="icon mdi fa fa-times" aria-hidden="true"></i>
                  <label>Reproduction</label>
                </div>
              </div> -->
              
              <!-- -------------- checkboxes-------------------------------- -->
            </div>
            <div class="modal-footer">
              <button
                
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="question-paper">
        <center>
          <p contenteditable="true" id="date">Date: <span id="inputDate"></span></p>
          <img
            id="cbse-logo"
            style="justify-content: center; margin: 12px;"
            width="120px"
            src="https://www.deccanherald.com/sites/dh/files/articleimages/2021/04/13/file6yjgpmr0fvkucdewa6a-973637-1618257667.jpg"
            alt=""
          />
          <h4>Central Board of Secondary Education</h4>
        </center>
        <div class="container h-50 my-5" data-aos="fade-right">
          <p id="note" contenteditable="true">
            Note: Each question consists of 3 marks. All questions are compulsory.
            Lorem Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of type and scrambled it
            to make a type specimen book.
          </p>
        </div>
        <div class="question-area">
          <div class="pre-content">
            The purpose of lorem ipsum is to create a natural looking block of text
            (sentence, paragraph, page, etc.) that doesn't distract from the layout.
            A practice not without controversy, laying out pages with meaningless
            filler text can be very useful when the focus is meant to be on design,
            not content.
          </div>
          <br />
          <div class="card">
            <div style="background-color: rgb(221, 221, 221)" class="card-header">
              <p class="ques">
                Ques1. This will be the format of each question (question here) :
              </p>
            </div>
            <div class="card-body">
              <table>
                <tr>
                  <td>A. Option one here</td>
                  <td>B. Option two here</td>
                </tr>
                <tr>
                  <td class="right-opt">C. Option three here</td>
                  <td class="right-opt">D. Option four here</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br />
      <button id="download" class="btn btn-primary">Download</button>
    </div>
    <div>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
    
    <script src="./script.js"></script>
    
    <script src="public/javascript/getQuest.js"></script>
    
    <!-- Download question paper -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="public/javascript/printThis.js"></script>
    <script>
        $('#download').on("click", function () {
            $('.question-paper').printThis({
                importCSS: true            });
        });
    </script>

    
  </body>
</html>
