<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Crowd Quest</title>
	<link rel="stylesheet" href="../public/css/downloadQuestion.css" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
		crossorigin="anonymous">
</head>

<body>
	<div class="Sidebar">
		<h2>Get Questions</h2>
		<ul class="Nav">
			<li>
				<i class="fas fa-calendar-alt"></i>
				<span>Date of Examination</span>
				<input style="border: 0px solid white;" class="mainselection" type="text" required>
			</li>
			<li>
				<i class="fas fa-server"></i>
				<span>Select Subject</span>
				<div class="mainselection">
					<select name="State" id="input7" required>
						<option></option>
						<option value="Mixed">Mixed</option>
						<option value="Physics">Physics</option>
						<option value="Biology">Biology</option>
						<option value="Chemistry">Chemistry</option>
						<option value="Mathematics">Mathematics</option>
					</select>
				</div>
			</li>
			<li>
				<i class="fas fa-question-circle"></i>
				<span>Number of Questions</span>
				<div class="mainselection">
					<select name="State" id="input7" required>
						<option></option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
				</div>

			</li>
			<button class="btn btn-outline-light">
				Generate Paper <i class="fas fa-concierge-bell"></i>
			</button>
			<br><br><br><br><br><br><br><br><br><br><br>
			<hr style="color: rgb(224, 224, 224);">
			<li>
				<a href="/teacherDashboard">
					<i class="fas fa-address-card"></i>
					<span>Back to Dashboard</span>
				</a>
			</li>
		</ul>
	</div>

	<div id="Main" class="main">
		<center>
			<p contenteditable="true" id="date">Date: 24/07/2022</p>
			<img id="cbse-logo"
				src="https://www.deccanherald.com/sites/dh/files/articleimages/2021/04/13/file6yjgpmr0fvkucdewa6a-973637-1618257667.jpg"
				alt="">
			<h4>Central Board of Secondary Education</h4>
		</center>
		<div class="container h-50 my-5" data-aos="fade-right">
			<p id="note" contenteditable="true">Note: Each question consists of 3 marks. All questions are compulsory. Lorem Ipsum has been the
				industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
				scrambled it to make a type specimen book.</p>
			<div class="card">
				<div style="background-color: rgb(221, 221, 221) ;" class="card-header">
					<p class="ques">Ques1. The electrons of Rutherford’s model would be expected to lose energy because
						:</p>
				</div>
				<div class="card-body">
					<table>
						<tr>
							<td>A. They jump on the nucleus</td>
							<td>B. They move randomly</td>
						</tr>
						<tr>
							<td class="right-opt">C. Radiate electromagnetic waves</td>
							<td class="right-opt">D. Escape from the atom</td>
						</tr>
					</table>
				</div>
			</div><br>
			<div class="card">
				<div style="background-color: rgb(221, 221, 221) ;" class="card-header">
					<p class="ques">Ques1. The electrons of Rutherford’s model would be expected to lose energy because
						:</p>
				</div>
				<div class="card-body">
					<table>
						<tr>
							<td>A. They jump on the nucleus</td>
							<td>B. They move randomly</td>
						</tr>
						<tr>
							<td class="right-opt">C. Radiate electromagnetic waves</td>
							<td class="right-opt">D. Escape from the atom</td>
						</tr>
					</table>
				</div>
			</div><br>
			<div class="card">
				<div style="background-color: rgb(221, 221, 221) ;" class="card-header">
					<p class="ques">Ques1. The electrons of Rutherford’s model would be expected to lose energy because
						:</p>
				</div>
				<div class="card-body">
					<table>
						<tr>
							<td>A. They jump on the nucleus</td>
							<td>B. They move randomly</td>
						</tr>
						<tr>
							<td class="right-opt">C. Radiate electromagnetic waves</td>
							<td class="right-opt">D. Escape from the atom</td>
						</tr>
					</table>
				</div>
			</div><br>
			<div class="card">
				<div style="background-color: rgb(221, 221, 221) ;" class="card-header">
					<p class="ques">Ques1. The electrons of Rutherford’s model would be expected to lose energy because
						:</p>
				</div>
				<div class="card-body">
					<table>
						<tr>
							<td>A. They jump on the nucleus</td>
							<td>B. They move randomly</td>
						</tr>
						<tr>
							<td class="right-opt">C. Radiate electromagnetic waves</td>
							<td class="right-opt">D. Escape from the atom</td>
						</tr>
					</table>
				</div>
			</div><br>
			<div class="card">
				<div style="background-color: rgb(221, 221, 221) ;" class="card-header">
					<p class="ques">Ques1. The electrons of Rutherford’s model would be expected to lose energy because
						:</p>
				</div>
				<div class="card-body">
					<table>
						<tr>
							<td>A. They jump on the nucleus</td>
							<td>B. They move randomly</td>
						</tr>
						<tr>
							<td class="right-opt">C. Radiate electromagnetic waves</td>
							<td class="right-opt">D. Escape from the atom</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary"> Download </button>
		<br><br>
	</div>
</body>

</html>