<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/css/login.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    
  <script type="text/javascript" src="https://pdfanticopy.com/noprint.js"></script>
  <script language="javascript">
    var noPrint=true;
    var noCopy=true;
    var noScreenshot=true;
    var autoBlur=true;
    </script>
    <script>
      document.onkeydown = function(evt){ 
        console.log(evt.keyCode);
      }
      document.addEventListener('keyup', (e) => {
        if (e.keyCode == 121) {
            navigator.clipboard.writeText('');
            alert('Screenshots disabled!');
        }
      });
      document.addEventListener('keydown', (e) => {
          if (e.shiftKey) {
              alert('Screenshots disabled!');
              e.cancelBubble = true;
              e.preventDefault();
              e.stopImmediatePropagation();
          }
      });
  
    </script>    
  <title>Crowd Quest</title>
</head>

<body style="background-color:#448aff;">
  <br><br>
  <div>
    <div class="container">
      <section class="login">
        <div class="container-fluid h-custom">
          <div class="row gap-5 d-flex justify-content-center align-items-center h-100 ">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <center>
              <a href="#" class="navbar-brand text-uppercase font-weight-bolder "> <span style="font-size: 2em;"> Crowd Quest</span></a>
              <div class="divider d-flex align-items-center my-1" style="margin: 0.1rem;" > </div>
            <div class="title-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptas doloribus ex blanditiis perferendis qui?</div>

            </center>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image" style="width: 50rem;">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" >
 
              <div class="left-item">
            
  


  
             <!-- -------------------------------------------------------------------- -->
             <!-- ! ----------------------- Form begins     ---------------------------- -->
             <!-- -------------------------------------------------------------------- -->
             <div class="divider d-flex align-items-center my-4" > <span style="margin: 0 0.5em 0 0.5em; font-size:x-small; color:slategrey ">Welcome to Crowd Quest. Please login to continue</span></div>

          <form style="padding-left: 5px;"><center>
            <a href="studentDashboard.html" style="text-decoration:none ;">     
              <div class="button-30" onclick="location.href='studentDashboard.html'" >Continue Contributing</div>  
            </a>

              <a href="teacherDashboard.html" style="text-decoration:none ;">     
                <div class="button-30" onclick="location.href='studentDashboard.html'" >Teacher Admin</div>  
              </a>

                <div class="divider d-flex align-items-center my-4" > <span style="margin: 0 0.5em 0 0.5em; font-size:x-small; color:slategrey ">Want to discuss with the world  ?</span></div>

                
                  <button type="button" class="btn btn-outline-secondary" style="padding:0.5em 2em ;border-radius: 50px; width: 90%; border-color: #e0e4e8;">  
                    <span style="font-weight:600 ;font-size:smaller;">
                      Discussions
                    </span>
                  </button>
                </center>
             </form>    
             <!-- -------------------------------------------------------------------- -->
             <!-- -------------------------------------------------------------------- -->
             <!-- -------------------------------------------------------------------- -->

                  
              <!-- Login testing -->
              <a href="teacherLogin.html">Test</a>
              
            </div>
          </div>
   
          </div>
          
        </div>
        
    </div>
    </section>


  </div>
<center>
  <div class="footnote">
    Made by team Crowd Quest
  </div>
</center>
</body>
</html>