
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Crowd Quest</title>

    <!-- Bootstrap core CSS -->
    <link href="public/homepage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="public/homepage/assets/css/homepage.css">
    <link rel="stylesheet" href="public/homepage/assets/css/animated.css"

  </head>

<body style="top: -10%;">

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->


  
  <!-- ***** Header Area End ***** -->
  
  

  <div class="main-banner wow fadeIn" style="top: -10%;" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h1 class="title1">Welcome to</h1>
                    <h2 style="font-family: 'flamenco'; font-size: 5em; font-weight: 1000;" class="title2">CROWD QUEST !</h2>
                    <p class="title-text" >  <  <br> The ultimate <mark>Question paper generation portal !</mark> <br>
                    

                    <!-- Post your first question and contribute to the seamless process of question paper generation .
                    Revolutionizing the examination helding process. -->

                    <!-- Don't Just on traditional process. -->
                    Experience the power and automation of our process to generate tests seamlessly</br> /> </p>
                  </div>
                  <div class="col-lg-12"> 
                    <a href="teacherLogin.html" style="text-decoration: none;"></a>
                    <div>   
                    <!-- <div href="studentDashboard.html" onclick="location.href='studentDashboard.html'" class="button-30">
                        Contribute Your First Question  <i class="fab fa-angle-right"></i>
                    </div>
                    <div href="teacherDashboard.html" onclick="location.href='teacherDashboard'" class="button-30">
                      Contribute Your First Question  <i class="fab fa-angle-right"></i>
                  </div> -->
                
                  <button class="btn btn-light" style="border-radius: 500em; margin-right: 10px; background-color: white; color: rgb(0, 132, 255); border: 1px; border-color: blue;" onclick="location.href='studentDashboard.html'">
                    Contributor
                  </button>  
                  <button class="btn btn-light" style="border-radius: 500em; background: #15C6FF;" onclick="location.href='teacherLogin.html'">
                    Admin Login
                  </button>
                  </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="public/homepage/assets/images/slider-dec.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Amazing Services <em>Crowd Quest</em> has to offer</h4>
            <img src="public/homepage/assets/images/heading-line-dec.png" alt="">
            <p> your teacher experts would love to pioneer in <b>Creating, downloading,distributing and securing question paper </b> while contributing to the massive pool.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Contribute Questions</h4>
            <p>Create, post and share your questions with the community and contribute in its growth.</p>
            <div class="text-button">
             
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Approve/Reject Questions</h4>
            <p>As an expert, analyse, approve or reject questions posted by the contributers.</p>
            <div class="text-button">
             
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Download Question Paper</h4>
            <p>Set the criteria for your paper and download it in pdf format anytime you want.</p>
            <div class="text-button">
             
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>Give and Get rewards</h4>
            <p>Reward the questions you like best and receive rewards for the question you contribute.</p>
            <div class="text-button">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>Our <em>Features</em> &amp; What Make Us Different</h4>
            <img src="public/homepage/assets/images/heading-line-dec.png" alt="">
            <p>These features will make your experience simple, better, and effortless.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Live Analytics</a></h4>
                <p>Analytics of every question submitted</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Discussion Forum</a></h4>
                <p>Discuss answers with your peers</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">BlockChain</a></h4>
                <p>To track the transactions</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Encryption</a></h4>
                <p>Login procedure for safety</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div style="display:flex;">
              <div class="gradient-button" style="margin-right: 1em;">
                <a href="studentDashboard.html">Begin Contributing</a>
              </div>
              <div class="gradient-button2" style="background-color: white; color : black" >
                <a href="teacherLogin.html">Login as Admin</a>
              </div>
            </div>
            <span>*Made and maintained by team Crowd Quest</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="public/homepage/assets/images/about-right-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script type="module" src="public/javascript/sendEmail.js"></script>
  <script src="public/homepage/vendor/jquery/jquery.min.js"></script>
  <script src="public/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/homepage/assets/js/owl-carousel.js"></script>
  <script src="public/homepage/assets/js/animation.js"></script>
  <script src="public/homepage/assets/js/imagesloaded.js"></script>
  <script src="public/homepage/assets/js/popup.js"></script>
  <script src="public/homepage/assets/js/custom.js"></script>
</body>
</html>