<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step Progress</title>
    <link rel="stylesheet" href="public/css/iterative.css" />

    <!-- UniIcon CDN Link  -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <div class="main">
      <ul>
        <li>
          <img class="icon2" src="public/assets/SVGs/ITRprocess/read.svg" alt="">
          <div class="progress one">
            <p>1</p>
            <i class="uil uil-check"></i>
          </div>
          <p class="text">Reading File</p>
        </li>
        <li>
            <img class="icon2" src="public/assets/SVGs/ITRprocess/encrypt.svg" alt="">
          <div class="progress two">
            <p>2</p>
            <i class="uil uil-check"></i>
          </div>
          <p class="text">Encrypting</p>
        </li>
        <li>
            <img class="icon2" src="public/assets/SVGs/ITRprocess/keys.svg" alt="">
          <div class="progress three">
            <p>3</p>
            <i class="uil uil-check"></i>
          </div>
          <p class="text">Passing keys</p>
        </li>
        <li>
            <img class="icon2" src="public/assets/SVGs/ITRprocess/upload.svg" alt="">
          <div class="progress four">
            <p>4</p>
            <i class="uil uil-check"></i>
          </div>
          <p class="text">Uploading to IPFS</p>
        </li>
        <li>
            <img class="icon2" src="public/assets/SVGs/ITRprocess/complete.svg" alt="">
          <div class="progress five">
            <p>5</p>
            <i class="uil uil-check"></i>
          </div>
          <p class="text">Process Complete</p>
        </li>
      </ul>

      <div class="row">
        <button id="prev">previous</button>
        <button id="next">next</button>
      </div>
    </div>
<center>
  <div class="content">
    <div class="card a1">
      card 1
    </div>
    <div class="card a2">
      card 2
    </div>
    <div class="card a3">
      card 3
    </div>
    <div class="card a4">
      card 4
    </div>
    <div class="card a5">
      card 5
    </div>
  </div>
  </center>
    <script>
      const one = document.querySelector(".one");
      const two = document.querySelector(".two");
      const three = document.querySelector(".three");
      const four = document.querySelector(".four");
      const five = document.querySelector(".five");

      let active_state = 0;

      const card_1 = document.querySelector(".a1");
      const card_2 = document.querySelector(".a2");
      const card_3 = document.querySelector(".a3");
      const card_4 = document.querySelector(".a4");
      const card_5 = document.querySelector(".a5");

        card_1.style.display = 'block';
        card_2.style.display = 'none';
        card_3.style.display = 'none';
        card_4.style.display = 'none';
        card_5.style.display = 'none';

// display card1 function
function display_card1() {
  card_1.style.display = 'block';
        card_2.style.display = 'none';
        card_3.style.display = 'none';
        card_4.style.display = 'none';
        card_5.style.display = 'none';
}
// display card2 function
function display_card2() {
  card_1.style.display = 'none';
        card_2.style.display = 'block';
        card_3.style.display = 'none';
        card_4.style.display = 'none';
        card_5.style.display = 'none';
}
// display card3 function
function display_card3() {
  card_1.style.display = 'none';
        card_2.style.display = 'none';
        card_3.style.display = 'block';
        card_4.style.display = 'none';
        card_5.style.display = 'none';
}
// display card4 function
function display_card4() {
  card_1.style.display = 'none';
        card_2.style.display = 'none';
        card_3.style.display = 'none';
        card_4.style.display = 'block';
        card_5.style.display = 'none';
}
// display card5 function
function display_card5() {
  card_1.style.display = 'none';
        card_2.style.display = 'none';
        card_3.style.display = 'none';
        card_4.style.display = 'none';
        card_5.style.display = 'block';
}



      one.onclick = function () {
        one.classList.add("active");
        two.classList.remove("active");
        three.classList.remove("active");
        four.classList.remove("active");
        five.classList.remove("active");
        active_state = 1;
        display_card1();

      };

      two.onclick = function () {
        one.classList.add("active");
        two.classList.add("active");
        three.classList.remove("active");
        four.classList.remove("active");
        five.classList.remove("active");
        active_state = 2;
        display_card2();

      };

      three.onclick = function () {
        one.classList.add("active");
        two.classList.add("active");
        three.classList.add("active");
        four.classList.remove("active");
        five.classList.remove("active");
        active_state = 3;
        display_card3();
      };

      four.onclick = function () {
        one.classList.add("active");
        two.classList.add("active");
        three.classList.add("active");
        four.classList.add("active");
        five.classList.remove("active");
        active_state = 4;
        display_card4();
      };

      five.onclick = function () {
        one.classList.add("active");
        two.classList.add("active");
        three.classList.add("active");
        four.classList.add("active");
        five.classList.add("active");
        active_state = 5;
        display_card5();
      };

      const prev = document.querySelector("#prev");
      prev.onclick = function () {
        switch (active_state) {
          case 5:
            five.classList.remove("active");
            active_state = 4;
            display_card4();
            break;
          case 4:
            five.classList.remove("active");
            four.classList.remove("active");
            active_state = 3;
            display_card3();
            break;
          case 3:
            five.classList.remove("active");
            four.classList.remove("active");
            three.classList.remove("active");
            active_state = 2;
            display_card2();
            break;
          case 2:
            five.classList.remove("active");
            four.classList.remove("active");
            three.classList.remove("active");
            two.classList.remove("active");
            display_card1();
            active_state = 1;
            break;
          case 1:
            five.classList.remove("active");
            four.classList.remove("active");
            three.classList.remove("active");
            two.classList.remove("active");
            one.classList.remove("active");
            display_card1();
            active_state = 0;
            break;
        }
      };

      //   next button to increment active class
      const next = document.querySelector("#next");
      next.onclick = function () {
        switch (active_state) {
          case 0:
            one.classList.add("active");
            two.classList.remove("active");
            three.classList.remove("active");
            four.classList.remove("active");
            five.classList.remove("active");
            active_state = 1;
            display_card1();
            break;
          case 1:
            one.classList.add("active");
            two.classList.add("active");
            three.classList.remove("active");
            four.classList.remove("active");
            five.classList.remove("active");
            active_state = 2;
            display_card2();
            break;
          case 2:
            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.remove("active");
            five.classList.remove("active");
            active_state = 3;
            display_card3();
            break;
          case 3:
            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.add("active");
            five.classList.remove("active");
            active_state = 4;
            display_card4();
            break;
          case 4:
            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.add("active");
            five.classList.add("active");
            active_state = 5;
            display_card5();
            break;
          case 5:
            one.classList.add("active");
            two.classList.add("active");
            three.classList.add("active");
            four.classList.add("active");
            five.classList.add("active");
            active_state = 0;
            display_card1();
            break;
        }
      };

      // 5 seconds timer for each step
      setTimeout(function () {
        one.classList.add("active");
        active_state = 1;
        display_card1();
      }, 2500);

      setTimeout(function () {
        one.classList.add("active");
        two.classList.add("active");
        active_state = 2;
       display_card2();
      }, 5000);

      setTimeout(function () {
        one.classList.add("active");
        two.classList.add("active");
        three.classList.add("active");
        active_state = 3;
        display_card3();
      }, 7500);

      setTimeout(function () {
        one.classList.add("active");
        two.classList.add("active");
        three.classList.add("active");
        four.classList.add("active");
        active_state = 4;
        display_card4();
      }, 10000);

      setTimeout(function () {
        one.classList.add("active");
        two.classList.add("active");
        three.classList.add("active");
        four.classList.add("active");
        five.classList.add("active");
        active_state = 5;
        display_card5();
      }, 12500);
    </script>
  </body>
</html>
