<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crowd Quest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required Fremwork -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/unitQuestion.css">
    <link rel="stylesheet" href="public/css/dashBoard_style.css">
    <link rel="stylesheet" href="public/css/dashboard.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.3/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@truffle/contract@4.3.5/dist/truffle-contract.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
      integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
  
    <script src="Web3.js"></script>
    <script src="Web3.js">
        async function AppendNotifications() {
            var params=await App.getAllContributions();
            var ul = document.getElementById("testtt1");
            for (var i=0; i<params.length; i++) {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode("Four"));
                ul.appendChild(li);
            }
        }
    </script>
    
</head>


<body onload="App.init()">
    <!-- Pre-loader start -->
    
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <img src="assets/menu.svg" onloadstart="()=>{console.log('hello919')}"></img>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-addon search-btn"><img
                                                src="assets/search.svg"></img></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#!" onclick="">
                            <img  src="assets/CrowdQuest.PNG" style="width:188px; height:42px; margin-top:1em;"></img>
                            <!--<h5 data-localize="title" class="m-b-10">Crowd Quest</h5>-->
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid" onload="()=>console.log('Helllooo')">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
                                </div>
                            </li>
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                        <input type="text" class="form-control  search-qns"
                                            placeholder="Search Question" id="search-input">
                                        <span class="input-group-addon search-btn search-qns-button"><img
                                                src="assets/search.svg"></img></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <img src="assets/maximize.svg"></img>
                                </a>
                            </li>
                            <!--<li>
                                <button class="hindimode" id="hindimode" type="button" > 
                                    <img src="assets/language.svg" style="width: 2em;" alt="">
                                </button>
                            </li>-->
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification" onclick="App.getAllContributions();return false;">
                              <a href="#!" class="waves-effect waves-light">
                                    <ul id="testt"></ul>
                                  <img src="assets/bell.svg"></img>
                                  <span class="badge bg-c-red"></span>
                              </a>
                              <ul class="show-notification" id="testtt1">
                                  <li>
                                      <h6>Notifications</h6>
                                      <label class="label label-danger">New</label>
                                  </li>
                                  <!-- <li class="waves-effect waves-light">
                                      <div class="media">
                                          <div class="media-body">
                                              <h5 class="notification-user">John Doe</h5>
                                              <p class="notification-msg">Reacted to question</p>
                                              <span class="notification-time">25 minutes ago</span>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="waves-effect waves-light">
                                      <div class="media">
                                          <div class="media-body">
                                              <h5 class="notification-user">Joseph William</h5>
                                              <p class="notification-msg">Reported your question</p>
                                              <span class="notification-time">30 minutes ago</span>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="waves-effect waves-light">
                                      <div class="media">
                                          <div class="media-body">
                                              <h5 class="notification-user">Sara Soudein ⭐Expert</h5>
                                              <p class="notification-msg">Question Verified</p>
                                              <span class="notification-time">39 minutes ago</span>
                                          </div>
                                      </div>
                                  </li> -->
                              </ul>
                          </li>
                            <!-- <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <span data-localize="username">Username</span>
                                    <i class="ti-angle-down"></i>
                                </a> -->
                                <!--
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a data-localize="Settings" href="#!">
                                            <i class="ti-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a data-localize="Profile">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a data-localize="My Messages">
                                            <i class="ti-email"></i> My Messages
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a data-localize="logout" href="index.html">
                                            <i class="ti-layout-sidebar-left"></i> Exit
                                        </a>
                                    </li>
                                </ul>-->
                            <!-- </li> -->
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="main-menu-background">
                                <div class="main-menu-header">
                                    <!-- <div class="user-details">
                                        <span data-localize="username1" id="more-details">Username<i class="fa fa-caret-down"></i></span>
                                    </div> -->
                                </div>
                                <!--<div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a data-localize="View Profile"><i class="ti-user"></i>View Profile</a>
                                            <a data-localize="Settings" href="#!"><i class="ti-settings"></i>Settings</a>
                                            <a data-localize="logout" href="index.html"><i class="ti-layout-sidebar-left"></i>Exit</a>
                                        </li>
                                    </ul>
                                </div>-->
                            </div>
                            <!-- <div class="p-15 p-b-0">
                                <form class="form-material">
                                    <div class="form-group form-primary">
                                        <input type="text" name="footer-email" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label data-localize="search" class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                    </div>
                                </form>
                            </div> -->
                            <div data-localize="For Student" class="pcoded-navigation-label" data-i18n="nav.category.navigation">For Students</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active dashboard-btn">
                                    <a href="#" onclick="App.getAllQuestionsFromChain(); return false;" class="waves-effect waves-dark allQues">
                                        <span class="pcoded-micon"><img src="assets/home.svg"></img><b>D</b></span>
                                        <span data-localize="Dashboard" class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="addQuestion.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img src="assets/grid.svg"></img><b>D</b></span>
                                        <span data-localize="SubmitQuestion" class="pcoded-mtext" data-i18n="nav.dash.main">Submit Question</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost:5555/" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img src="assets/discussion.svg"></img><b>D</b></span>
                                        <span data-localize="discussions" class="pcoded-mtext" data-i18n="nav.dash.main">Discussions</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li >
                                    <a href="#" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"> <img src="assets/language.svg" style="width: 2em;" alt=""></img><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main"></span>
                                        <select class="mainselection" onchange="languageChanger()" id="google_translate_element">
                                            <option value="en">English</option>
                                            <option value="hi">Hindi</option>
                                        </select>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                                <li>
                                    <a href="index.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img src="assets/log-out.svg" /></span>
                                        <span data-localize="logout" class="pcoded-mtext" data-i18n="nav.form-components.main">Exit</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <!--<select onchange="languageChanger()" id="google_translate_element">
                                <option value="en">English</option>
                                <option value="hi">Hindi</option>
                            </select>-->
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="row-lg-6 col-md-6">
                                        <div class="page-header-title">
                                            <h5 data-localize="Dashboard1" class="m-b-10 text-Dashboard">Dashboard</h5>
                                            <p data-localize="greet" class="m-b-0 text-Dashboard">Welcome to Crowd Quest</p>
                                        </div>
                                    </div>
                                    <div class="row-lg-6 container subject-btn">
                                        <form action="" method="post">
                                            <button data-localize="Physics" name="phy" type="button" onclick="App.getAllSub('Physics'); return false;"
                                                class="btn btn-outline-primary sub1">Physics</button>
                                            <button data-localize="Chemistry" name="chem" type="button" onclick="App.getAllSub('Chemistry'); return false;"
                                                class="btn btn-outline-primary sub2">Chemistry</button>
                                            <button data-localize="Mathematics" name="maths" type="button" onclick="App.getAllSub('Mathematics'); return false;"
                                                class="btn btn-outline-primary sub3">Mathematics</button>
                                            <button data-localize="Biology" name="bio" type="button" onclick="App.getAllSub('Biology'); return false;"
                                                class="btn btn-outline-primary sub4">Biology</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <!-- Page-header end -->
                        <div id="card" class="pcoded-inner-content studentDashboard">
                            <div  class="container questionCard">
                                <br>
                                SORRY! No questions to display.
                                <br>
                                <br>
                                <!-- <div class="unitQuestion">
                                    <div class="stud_question">
                                        <div class="subject">
                                            Subject : Physics | Work Enery Power
                                        </div>
                                        <div class="question">
                                            The electrons of Rutherford’s model would be expected to lose energy because : | <button id="speak"><i class="fa fa-file-audio-o" aria-hidden="true"></i></button>
                                            <br>
                                            <img class="ques-img" src="https://img.jagranjosh.com/imported/images/E/Articles/maths2.jpg" alt="">
                                        </div>
                                        <div class="options opt">
                                            <button class="option">
                                                <div class="option_text">A</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    They jump on the nucleus
                                                </div>
                                            </button>
                                            <button class="option opt">
                                                <div class="option_text">B</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    They move randomly
                                                </div>
                                            </button>
                                            <button class="option opt">
                                                <div class="option_text">C</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    Radiate electromagnetic waves
                                                </div>
                                            </button>
                                            <button class="option opt">
                                                <div class="option_text">D</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    Escape from the atom
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="question-info">
                                        <div class="question-standard">Correct Answer : They jump on the nucleus </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                            <!-- FOR TESTING -->
                            <!-- <button type="submit" onclick="App.getAllQuestionsFromChain(); return false;">Refresh</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 
    <script src="public/javascript/studentDb.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/javascript/pcoded.min.js"></script>
    <script src="../public/javascript/vertical-layout.min.js"></script>
    <script type="text/javascript" src="../public/javascript/dashBoardscript.js"></script>


    <script>

        document.querySelector('#search-input').
        addEventListener('input',filterList);

        function filterList(){
            const searchInput=document.querySelector('#search-input');
            const filter=searchInput.value.toLowerCase();
            const question=document.querySelectorAll('.questionCard');
            question.forEach((item) => {
                let text=item.textContent;
                if(text.toLowerCase().includes(filter.toLowerCase()))
                {
                    item.style.display='';
                }
                else{
                    item.style.display='none';
                }
                
            });

        }
    </script>


   

</body>
</html>