<!DOCTYPE html>
<html lang="en">

<head>
    <title>Crowd Quest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Required Fremwork -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/unitQuestion.css">
    <link rel="stylesheet" href="public/css/dashBoard_style.css">
    <link rel="stylesheet" href="public/css/dashboard.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.3/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@truffle/contract@4.3.5/dist/truffle-contract.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
      integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
  
    <script src="Web3.js"></script>


</head>

<body onload="App.init()">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <img src="../public/assets/SVGs/menu.svg"></img>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-addon search-btn"><img
                                                src="../public/assets/SVGs/search.svg"></img></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <h5 class="m-b-10">Crowd Quest</h5>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
                                </div>
                            </li>
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                        <input type="text" class="form-control  search-qns"
                                            placeholder="Search Question">
                                        <span class="input-group-addon search-btn search-qns-button"><img
                                                src="../public/assets/SVGs/search.svg"></img></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <img src="../public/assets/SVGs/maximize.svg"></img>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <span>Username</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="#!">
                                            <i class="ti-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a>
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a>
                                            <i class="ti-email"></i> My Messages
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="index.html">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="main-menu-background">
                                <div class="main-menu-header">
                                    <div class="user-details">
                                        <span id="more-details">Username<i class="fa fa-caret-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a><i class="ti-user"></i>View Profile</a>
                                            <a href="#!"><i class="ti-settings"></i>Settings</a>
                                            <a href="index.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15 p-b-0">
                                <form class="form-material">
                                    <div class="form-group form-primary">
                                        <input type="text" name="footer-email" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Search</label>
                                    </div>
                                </form>
                            </div>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">For Teacher</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img
                                                src="../public/assets/SVGs/home.svg"></img><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="addQuestion.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img
                                                src="../public/assets/SVGs/grid.svg"></img><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Create Question</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="downloadQuestion.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img class="ti-home"
                                                src="../public/assets/SVGs/paperclip.svg"></img><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main"> Generate Question
                                            Paper</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.forms">Expert</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img class="ti-layers"
                                                src="../public/assets/SVGs/check-circle.svg"></img><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Question
                                            Pool</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="index.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><img
                                                src="../public/assets/SVGs/log-out.svg" /></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">Logout</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10 text-Dashboard">Dashboard</h5>
                                            <p class="m-b-0 text-Dashboard">Welcome to Crowd Quest</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="container">
                                <div class="unitQuestion">
                                    <div class="stud_question">
                                        <div class="subject">
                                            Subject : Physics
                                        </div>
                                        <div class="question">
                                            Ques1. The electrons of Rutherford’s lose energy because :
                                        </div>
                                        <div class="options">
                                            <button class="option">
                                                <div class="option_text">A.</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    They jump on the nucleus
                                                </div>
                                            </button>
                                            <button class="option">
                                                <div class="option_text">B.</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    They move randomly
                                                </div>
                                            </button>
                                            <button class="option">
                                                <div class="option_text">C.</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    Radiate electromagnetic waves
                                                </div>
                                            </button>
                                            <button class="option">
                                                <div class="option_text">D.</div>
                                                &nbsp;
                                                <div class="option_text">
                                                    Escape from the atom
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-info">
                                    <div class="question-standard">Correct Answer : B</div>
                                    <button type="button" class="btn btn-outline-success approve-btn">Accept</button>
                                    <button type="button" class="btn btn-outline-danger approve-btn">Reject</button>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <!-- FOR TESTING -->
                        <button type="submit" onclick="App.getAllQuestionsFromChain(); return false;">TEST</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/javascript/pcoded.min.js"></script>
    <script src="../public/javascript/vertical-layout.min.js"></script>
    <script type="text/javascript" src="../public/javascript/dashBoardscript.js"></script>



</body>

</html>