<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/teacherLogin.css">

    <script type="text/javascript">
        if(document.referrer=="http://localhost:3000/teacherDashboard.html" || document.referrer=="http://localhost:3000/downloadQuestion.html" || document.referrer=="http://localhost:3000/fileUpload.html" || document.referrer=="http://localhost:3000/iterative.html"){
          localStorage.setItem('AUTHENTICATED',"false");
          console.log(localStorage.getItem('AUTHENTICATED'));
        }
    </script>


    <title>Teacher Login</title>
</head>
<body onclick="App.init()">
    <div class="scroll-down">Admin credentials are handled with care. Multilayer security is provided with the power of blockchain. <br>SCROLL DOWN
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <path d="M16 3C8.832031 3 3 8.832031 3 16s5.832031 13 13 13 13-5.832031 13-13S23.167969 3 16 3zm0 2c6.085938 0 11 4.914063 11 11 0 6.085938-4.914062 11-11 11-6.085937 0-11-4.914062-11-11C5 9.914063 9.914063 5 16 5zm-1 4v10.28125l-4-4-1.40625 1.4375L16 23.125l6.40625-6.40625L21 15.28125l-4 4V9z" />
        </svg>
      </div>
      <div class="container"></div>
        <div class="modal">
            <div class="modal-container">
                <div class="modal-left">
                    <h1 class="modal-title">Welcome!</h1>
                    <p class="modal-desc">Below credentials would have been provided by CBSE</p>
                    <div class="input-block">
                    <label for="email" class="input-label">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="input-block">
                    <label for="password" class="input-label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="input-block">
                        <label for="password" class="input-label">Passcode</label>
                        <input type="password" name="passcode" id="passcode" placeholder="6 Digit Passcode">
                    </div>
                    <div class="modal-buttons">
                    <!-- <a href="" class="">Forgot your password?</a> -->
                    <button class="input-button" onclick="App.loginDashboard();return false;">Enter Portal</button>
                    </div>
                <p class="sign-up">Don't have credentials? <a href="teacherSignup.html">Sign up now (Only for testing purposes)</a></p>
                </div>
            <div class="modal-right">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/95/CBSE_new_logo.svg/1200px-CBSE_new_logo.svg.png" alt="">
            </div>
            <button class="icon-button close-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
                </svg>
            </button>
        </div>
        <button class="modal-button">Click here to login</button>
      </div>

      <script>
        const body = document.querySelector("body");
        const modal = document.querySelector(".modal");
        const modalButton = document.querySelector(".modal-button");
        const closeButton = document.querySelector(".close-button");
        const scrollDown = document.querySelector(".scroll-down");
        let isOpened = false;

        const openModal = () => {
        modal.classList.add("is-open");
        body.style.overflow = "hidden";
        };

        const closeModal = () => {
        modal.classList.remove("is-open");
        body.style.overflow = "initial";
        };

        window.addEventListener("scroll", () => {
        if (window.scrollY > window.innerHeight / 3 && !isOpened) {
            isOpened = true;
            scrollDown.style.display = "none";
            openModal();
        }
        });

        modalButton.addEventListener("click", openModal);
        closeButton.addEventListener("click", closeModal);

        document.onkeydown = evt => {
        evt = evt || window.event;
        evt.keyCode === 27 ? closeModal() : false;
        };
    </script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@1.3.3/dist/web3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@truffle/contract@4.3.5/dist/truffle-contract.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>

<script>
  // import AuthenticationHash from './utils/AuthenticationHash.js';
  // console.log(AuthenticationHash);
  console.log("hello");
  App = {
    web3Provider: null,
    contracts: {},
    account: "0x0",
    //Added this 3 Aug 2022
    web3: null,
    
    init: function () {
      return App.initWeb3();
    },
    
    initWeb3: function () {
      if (typeof web3 !== "undefined") {
        App.web3Provider = web3.currentProvider;
        web3 = new Web3(web3.currentProvider);
      } else {
        App.web3Provider = new Web3.providers.HttpProvider(
              "http://localhost:7545"
            );
            web3 = new Web3(App.web3Provider);
            //Added this 3 Aug 2022
            App.web3 = web3;
          }
          web3.eth.getCoinbase(function (err, account) {
            if (err === null) {
              App.account = account;
            }
          });
          return App.initContract();
        },
        initContract: function () {
          //Loading authentication contract
          $.getJSON("Authentication.json", function (cq) {
            App.contracts.Authentication = TruffleContract(cq);
            App.contracts.Authentication.setProvider(App.web3Provider);
          });
        },
        
        listenForEvents: function () {
          App.contracts.CrowdSource.deployed().then(function (instance) {
            instance
              .SubmitQuestion(
                {},
                {
                  fromBlock: 0,
                  toBlock: "latest",
                }
                )
              .watch(function (error, event) {
                console.log("event triggered", event);
                App.render();
              });
          });
        },

        //LOGIN-SIGNUP-STARTS

        loginDashboard: async function () {


            const SignData =async (username, accountAddress, web3) => {
              let signedData;

              await web3.eth.personal.sign(
                  username,
                  accountAddress,
                  (err, signature) => {
                      if (err) {
                          signedData = err;
                      } else {
                          signedData = web3.eth.accounts.hashMessage(signature);
                      }
                  }
              );

              return signedData;
          }



            const AuthValidation = async (username, accountAddress, password, digiCode, web3, contract) => {

            let userAddress = await contract.getUserAddress({ from: accountAddress });

            if (userAddress.toLowerCase() !== accountAddress.toLowerCase()) {
                    return false;
            } else {
                    let signedData = await SignData(username, accountAddress, web3);
                    let passwordDigiCodeHash = await web3.eth.accounts.hashMessage(password + digiCode);

                    let hash = await web3.eth.accounts.hashMessage(signedData + passwordDigiCodeHash);

                    let hashFromContract = await contract.getSignatureHash({ from: accountAddress });

                    if (hash === hashFromContract) {
                        return true;
                    } else {
                        return false;
                    }
                }
            }
            
            let user = document.querySelector("#username");
            let userText=user.value;
            let password = document.querySelector("#password");
            let passwordText=password.value;
            let passcode  = document.querySelector("#passcode");
            let passcodeText=passcode.value;


            let userAddress=await App.contracts.Authentication.deployed()
            .then(function (instance) {
                instance.getUserAddress();
            });

            App.contracts.Authentication.deployed()
            .then(async function (instance) {
                let validated = await AuthValidation(
                    userText,
                    App.account,
                    passwordText,
                    passcodeText,
                    web3,
                    instance
                );
                if (validated) {
                    localStorage.setItem('USERNAME',userText);
                    localStorage.setItem('AUTHENTICATED',"true");
                    window.alert('Access Granted');
                    setTimeout(() => {
                        window.location="http://localhost:3000/teacherDashboard.html";
                        
                    }, 1000);
                    //login hogaya
                } else {
                    window.alert('Admin access denied');
                    // invalid login
                } 
            });
        },
      };

      $(function () {
        $(window).load(function () {
          App.init();
        });
      });

    </script>



</body>
</html>