<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/teacherSignup.css">
    <title>SignUp</title>
</head>
<body>
    <form>
        <div class="container">
          <h1>Register Yourself</h1>
          <p>Please fill in this form to generate your credencials.</p>
          <mark style="color: red;">This is solely for testing purposes. Credentials will only be issued by the CBSE for teacher admins</mark>
          <hr>
      
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="usern" id="username1" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="pswd" id="password1" required>
      
          <label for="psw-repeat"><b>Passcode</b></label>
          <input type="password" placeholder="Enter 6 digit passcode" name="passCode" id="passcode1" required>
          <hr>
          <button type="submit" class="registerbtn">Register</button>
        </div>
      </form>
</body>
</html>