@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00c6ff;
    margin-top: 3%;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    padding: 4%;
}

.submit {
  position: relative;
  left: 35px;
  top: 15px;
}
.register-left {
  text-align: center;
  color: #fff;
}
.register-left input {
  border: none;
  border-radius: 0.5rem;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.register-left p {
  padding: 4%;
  text-align: left;
  margin-right: 15px;
}
.register .register-form {
  padding: 10%;
  margin-top: 10%;
}
h3 {
  margin-right: 40px;
}
.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover {
  border: none;
}
.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

.questionForm {
  margin: 3em;
}

.form-check {
  margin: 0.3em;
}

.form-control {
  margin: 1em;
}

.text1 {
  padding-left: 1em;
}

#text2 {
  padding-left: 2em;
}

.display-4 {
  font-size: smaller;
}

.last-text {
  padding-top: 1.5em;
  padding-left: 0.5em;
}

.dropdown {
  padding: 1em;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .submit {
    position: relative;
    bottom: 25px;
  }
}

#myFile {
  margin-left: 20px;
  outline: none;
}
.btn-outline-light {
  position: relative;
  right: 65px;
}

/* css for subject dropdown title */

.subjectDropdown {
  margin-left: 0.5em;
  padding: 0.5em 1em;
  width: 15em;
  border: 2px solid;
  background-color: rgb(255, 255, 255);
  border-color: #83bfff;
  border-radius: 10px 0 0 10px;
  border-color: #bcbcbc95;
  font-weight: 600;
  font-size: smaller;

  color: #4b4b4b;
}

.subjectDropdown:focus,
.subjectDropdown:hover {
  background-color: rgb(211, 234, 255);
  border-color: #dbecff;
  /* border-width: px; */
  transition: all;
  outline: none;
}

.subjectDropdown option {
  background-color: #f8f9fa;
  outline: none;
}

/* css for subject dropdown options */

.topicDropdown {
  padding: 0.5em 1em;
  border: 2px solid;
  background-color: rgb(255, 255, 255);
  border-color: #83bfff;
  border-radius: 0 10px 10px 0;
  border-color: #bcbcbc95;
  font-weight: 600;
  font-size: smaller;
  color: #4b4b4b;
}

.topicDropdown:focus,
.topicDropdown:hover {
  background-color: #dddddd;
  border-color: #dddddd;
  /* border-width: px; */
  transition: all;
  outline: none;
}

.topicDropdown option {
  background-color: #f8f9fa;
  outline: none;
}



.CheckOptions {
  padding: 0.2em 0.8em;
  outline: none;
  box-shadow: 0.1em 0.1em 0.5em #c9c9c9a7;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 20em;
  height: 3em;
  transition: 0.5s ;
  font-size: 1.2em;
}

.CheckOptions:focus,
.CheckOptions:hover{
    box-shadow: 0.1em 0.1em 0.7em #999999dc;
    border:none;    
    
}

/* reduce placeholder size */
::-webkit-input-placeholder {
  font-size: 0.8em;
}

/* Virtual Keyboard CSS */

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #2E4DBE;
  box-shadow: 0 0 50px #2E4DBE;
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: #3e64ed;
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: #2E4DBE;
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #2E4DBE;
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #2E4DBE;
}

.keyboard__key--dark {
  background: #2E4DBE;
}

.CopyButton {
  margin-bottom: -00.5em;
  width: 8em;

align-items: center;
appearance: none;
background-color: #00a2ff;
border-radius: 4px;
border-width: 0;
box-sizing: border-box;
color: #ffffff;
cursor: pointer;
display: inline-flex;
height: 40px;
justify-content: center;

list-style: none;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
position: relative;
top: 11px;
text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;

white-space: nowrap;
will-change: box-shadow,transform;
font-size: 1em;
}

.CopyButton:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.CopyButton:active {
  box-shadow: #82baff 0 3px 7px inset;
  transform: translateY(2px);
}

.button-31 {

  margin:0.3em 1em ;
  margin-bottom: 00.5em;

  width: 7em;
  height: 1.5em;

align-items: center;
appearance: none;
background-color: #ffffff;
border-radius: 4px;
border-width: 0;
box-shadow: #7a55001b 6px 6px 10px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#148bd4 0 -3px 0 inset;
box-sizing: border-box;
color: #383838;
cursor: pointer;
display: inline-flex;
height: 38px;
justify-content: center;

list-style: none;
overflow: hidden;
padding-left: 12px;
padding-right: 12px;
position: relative;

text-align: left;
text-decoration: none;
transition: box-shadow .15s,transform .15s;


white-space: nowrap;
will-change: box-shadow,transform;
font-size: 1em;
}

.button-31:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-31:hover {
box-shadow: rgba(201, 201, 201, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-31:active {
box-shadow: #8a8a8a 0 3px 7px inset;
transform: translateY(2px);
}


.addIcon{
  color: #0062cc;
}