.input-group{
    height: 35px;
}
.search-qns{
    height: 34px;
}
.search-qns-button{
    position: relative;
    top: -13px;
}
.fixed-button{
    display:none;
}
.main-menu-background{
    background-image: url(/public/assets/img/User_Back.jpg);
}
.text-Dashboard{
    color: #000;
}
.approve-btn{
    margin-right: 20px;
    position: relative;
    left: 25%;
}

.subject-btn{
    text-align: center;
    z-index: 100;
}
.subject-btn button{
    margin-left: 1rem;
    color:rgb(36, 85, 125);
    border-color: rgb(36, 85, 125);
    ;
}
.subject{
    position: absolute;
    right: 3%;
    font-size: larger;
    
}
.question{
    width: 80%;
}
@media only screen and (max-width: 600px) {
    .subject{
        position: absolute;
        right: 2%;
        position: relative;
        bottom: 10px;
    }
    .question{
        width: 100%;
    }
  }

