.input-group{
    height: 35px;
}
.search-qns{
    height: 34px;
}
.search-qns-button{
    position: relative;
    top: -13px;
}
.fixed-button{
    display:none;
}
.main-menu-background{
    background-image: url(/public/assets/img/User_Back.jpg);
}
.text-Dashboard{
    color: #000;
}
.approve-btn{
    margin-right: 20px;
    position: relative;
    left: 25%;
}
.like{
    position: absolute;
    right: 11%;
}
.dislike{
    position: absolute;
    right: 8%;
}
.chart{
    position: absolute;
    right: 4%;
}
.subject-btn{
    text-align: center;
    z-index: 100;
}
.subject-btn button{
    margin-left: 1rem;
    color:rgb(36, 85, 125);
    border-color: rgb(36, 85, 125);
    ;
}
.subject{
    text-align: right;
    padding-top: 15px;
    font-size:medium;
    position: relative;
    bottom: 10px;
    
}
.question{
    width: 100%;
}

.questionCard{
    margin-right: 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #dddddd;
}

@media only screen and (max-width: 600px) {
    .subject{
        position: absolute;
        right: 2%;
        position: relative;
        bottom: 10px;
    }
    .question{
        width: 100%;
    }
  }

.ques-img{
    margin: 1%;
    width: 380px;
    border-radius: 1%;
    animation-name: pop-img;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes pop-img {
    0%{
        width: 0px;
    }
    100%{
        width: 380px;
    }
    
}
#speak{
    border: none;
    background-color: white;
}