@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #252924;

}

/* Sidebar start here  */
.Sidebar {
	position: fixed;
	background: rgb(37, 116, 252);
	width: 300px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.Sidebar h4 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	font-size: 25px;
	background: rgb(37, 116, 252);
	color: #ffffff;
	padding: 20px;
}

.Sidebar ul li {
	margin: 25px 0;
}

.Sidebar ul li a {
	color: #ffffff;
	padding: 0 0;

}

.Nav {
	list-style: none;
}

ul.ba {
	list-style-type: none;
}

.Sidebar ul li a {
	color: #ffffff;
	margin-left: 20px;
	transition: 0.4s;
}

.main {
	margin-left: 320px;
	padding: 5px;
}

h4 {
	margin-top: 20px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}


@media only screen and (max-width: 600px) {
	.Sidebar {
		width: 0;
		display: none;
	}

	.main {
		padding: 0;
		margin: 0;
		width: 100%;
	}
}


.ques {
	font-size: larger;
}

table{
	font-size: larger;
	width: 100%;
}
li{
	color: #f7f7f8;
}
th, td {
	padding: 17px;
	text-align: left;
}
.right-opt{
	margin-left: 20%;
}

.mainselection {
	margin-top: 5px;
    overflow:hidden;
    width:200px;
	font-size:large;
	border-radius: 5px;
	height: 30px;
	background-color: #ffffff;
}
select {
    border:0;
    background:transparent;
    height:32px;
    border:1px solid #929292;
    width:200px;
}
.Nav{
	font-size: large;
}
.dropdownbad {
    border:2px solid #c13339;
}
#note{
	font-size: 17px;
}
#date{
	position: absolute;
	right: 8%;
	top: 5%;
}
hr{
	width: 220px;
}
.pre-content{
	font-size: large;
	font-weight: 500;
}
.fa-bars{
	margin-top: 10px;
  position: fixed;
}



.modal-backdrop{
	display: none;
}







video {
	display: block;
  }
  
  section {
	opacity: 4;
	transition: opacity 500ms ease-in-out;
  }
  .removed {
	display: none;
  }
  
  .invisible {
	opacity: 0.2;
  }
  
  .camView {
	position: relative;
	/* width: calc(100% - 20px); */
	/* margin: 10px; */
	cursor: pointer;
	/* position: fixed; */
	right: 0px; bottom: 0px;
	/* width: 400px; */
	/* height:250px; */
	margin-top: 250px;
	/* margin-left: 1020px; */
  }
  
  .camView p {
	position: absolute;
	padding: 5px;
	background-color: rgba(255, 111, 0, 0.85);
	color: #FFF;
	border: 1px dashed rgba(255, 255, 255, 0.7);
	/* z-index: 2; */
	font-size: 12px;
  }
  
  /* .highlighter { */
	/* background: rgba(0, 255, 0, 0.25); */
	/* border: 1px dashed #fff; */
	/* z-index: 8; */
	/* position: fixed;
	right: 0px; bottom: 0px;
	width: 1px;
	height:2px;
	margin-top: 350px; */
	/* margin-left: 1050px; */
  /* } */
  
  
  #webcam{
    position: fixed;
    left: 0px; bottom: 0px;
    width: 300px;
    height:160px;
    /* background-color:lightblue; */
    padding: 5px;
  }

  
.popup-screen{
	z-index: 999999;
	position: fixed;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	transition: 0.5s ease;
	transition-property: visibility;
  }
  
  .popup-screen.active{
	visibility: visible;
  }
  
  .popup-box{
	position: relative;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
  
	max-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	padding: 50px 40px;
	border-radius: 20px;
	box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
	transform: scale(0);
	transition: 0.5s ease;
	transition-property: transform;
  }
  
  .popup-screen.active .popup-box{
	transform: scale(1);
  }
  
  .popup-box h2{
	font-size: 2.1em;
	font-weight: 800;
	margin-bottom: 20px;
  }
  
  .popup-box p{
	font-size: 1em;
	margin-bottom: 30px;
  }
  
  .popup-box .btn{
	color: #fff;
	background: red;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	padding: 7px 27px;
	border-radius: 3px;
  }
  
  .close-btn{
	position: absolute;
	font-size: 1em;
	top: 0;
	right: 0;
	margin: 15px;
	cursor: pointer;
	opacity: 0.5;
	transition: 0.3s ease;
	transition-property: opacity;
  }
  
  .close-btn:hover{
	opacity: 1;
  }


  /* Animation CSS */
  .center{
	position: absolute;
	left: 40%;
	z-index: 500;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;


  }
  .ring{
	position: absolute;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	animation: ring 2s linear infinite;
  }
  @keyframes ring {
	0%{
	  transform: rotate(0deg);
	  box-shadow: 1px 5px 2px #e65c00;
	}
	50%{
	  transform: rotate(180deg);
	  box-shadow: 1px 5px 2px #252924;
	}
	100%{
	  transform: rotate(360deg);
	  box-shadow: 1px 5px 2px #0456c8;
	}
  }
  .ring:before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(255,255,255,.3);
  }
  .anima{
	color: #737373;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 200px;
	font-weight: 600;
	animation: text 3s ease-in-out infinite;
  }
  @keyframes text {
	50%{
	  color: black;
	}
  }