*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.main{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul{
    display: flex;
    
}
ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9.5em;
}
ul li .icon{
    font-size: 2.3em;
    color: #00a2ff;
    margin: 0 60px;
}
ul li .text{
    font-size: 14px;
    font-weight: 600;
    color: #00a2ff;
}


/* Progress Div Css  */

ul li .progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #a8a8a8;
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.progress::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: #a8a8a8;
    right: 30px;
        /* filling animation from left to right*/
    
}
.one::after{
    width: 0;
    height: 0;
}
ul li .progress .uil{
    display: none;
}
ul li .progress p{
    font-size: 13px;
    transition: 0.5s;
}

/* Active Css  */

ul li .active{
    background-color: #00a2ff;
    display: grid;
    place-items: center;

}
li .active::after{
    background-color: #00a2ff;
}
ul li .active p{
    display: none;
}
ul li .active .uil{
    font-size: 20px;
    display: flex;
}

/* smooth transition */

.row{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: space-between;
    /* add gap in the flex items */
    gap: 1em;
}

.row button{
    background-color: #00a2ff;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

}

.row button:hover{
    background-color: #006097;
    color: #fff;
}
/* Responsive Css  */

@media (max-width: 980px) {
    ul{
        flex-direction: column;
    }
    ul li{
        flex-direction: row;
    }
    ul li .progress{
        margin: 0 30px;
    }
    .progress::after{
        width: 5px;
        height: 55px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    .one::after{
        height: 0;
    }
    ul li .icon{
        margin: 15px 0;
    }
}

@media (max-width:600px) {
    .head .head_1{
        font-size: 24px;
    }
    .head .head_2{
        font-size: 16px;
    }
}

.progress-bar__container {
  width: 80%;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px #e76f51;
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #e76f51;
  top:0;
  bottom: 0;
  left: -100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items:center;
  color: white;
  font-family: sans-serif;
}

.progress-bar__text {
  display: none;
}

.content{
margin-top: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    margin: auto;
    /* margin-left: 25%;
    margin-right: 25%; */
    
    width: 70em;
    height: 32em;

    background-color: #e8e8e8;
    box-shadow: 0.4em 0.4em 1.4em #969696a9;
    position: absolute;

    border-radius: 15px;
    padding: 1em;
}

.card:hover{
    background-color: #ffc2c2;
    color: white;
    box-shadow: 0 0 5px #e76f51;
}

.a1{

    z-index: 5;

}
.a2{
    /* background-color: #931d00; */
    /* width: 22em; */
    z-index: 4;
}
.a3{
    /* background-color: #0088fe; */
    /* width: 24em; */
    z-index: 3;
}
.a4{
    /* background-color: #003f64; */
    /* width: 26em; */
    z-index: 2;
}
.a5{
    /* width: 28em;     */
    z-index: 1;
}
